@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  display: block;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile {
  background-color: white;
  border-radius: 4px;
  width: 210px;
  margin: auto;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.description {
  padding: 5px;
}

.container {
  padding: 10px 0;
  background-color: lightgray;
}
 {
  text-align: center;
}
.stat-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60px;
  border: 1px solid black;
  margin: 0 2px;
  background-color: white;
}
.label,
.percentage,
.title {
  text-align: center;
}
